<router-outlet></router-outlet>

<ng-container
  *ngIf="loadProductError$ | async as errorObject; else productList ">
  {{errorObject.message}}
</ng-container>

<ng-template #productList>
  <input class="border border-black" type="text" [(ngModel)]="filterValue" />
  <select>
    <option>By Date</option>
    <option>By Name</option>
  </select>
  <div class="results">
    <app-product-item
      *ngFor="let item of productList$ | async"
      [productItem]="item">
    </app-product-item>
  </div>
</ng-template>
